@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('Poppins-Medium.woff2') format('woff2'),
    url('Poppins-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  src: url('Poppins-Bold.woff2') format('woff2'),
    url('Poppins-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('Poppins-Light.woff2') format('woff2'),
    url('Poppins-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url('Poppins-Regular.woff2') format('woff2'),
    url('Poppins-Regular.woff') format('woff');
}
